<!-- Nav -->
<div class="navbar">
    <div class="link"><a href="/">Home</a></div>
    <div class="link"><a href="/info">Information</a></div>
    <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Menu</button>
        <div class="dropdown-content" id="myDropdown">
            <a href="https://www.tripadvisor.co.uk/VacationRentalReview-g1022657-d8458695-Faenor_Narberth_Pembrokeshire-Narberth_Pembrokeshire_Wales.html">Bookings</a>
            <a href="/gallery">Gallery</a>
            <a href="/map">Map</a>
            <a href="/test">Testimonials</a>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="javascripts/nav.js"></script>
