<!DOCTYPE HTML>

<html>

<!-- Head -->
<%- include('partials/head'); %>

<head>
    <link rel="stylesheet" href="stylesheets/test.css" />
</head>

<body>
    <div id="page-container">

        <!-- Nav -->
        <%- include('partials/nav'); %>

        <div id="alt_background"></div>

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <div>
                    <h1><a href="/">Testimonials</a></h1>
                </div>
            </div>
        </header>


        <!-- Banner -->
        <section id="banner">
            <div class="content">

                <h3>Here's What Guests Have To Say!</h3>

            </div>
        </section>

        <!-- Footer -->
        <%- include('partials/footer'); %>

        <!-- Scripts -->
        <script src="javascripts/main.js"></script>

    </div>
</body>
</html>
